body{
    background-color: bisque;
    font: 18px Arial;
}
.tit{
    font: 30px Arial;
}
.box{
    margin-top: 5px;
    border-radius: 500px;
    margin-left: 310px;
    width: 200px; /*Modificar a largura da caixa*/
    height: 20px; /*Modificar a altura da caixa*/
}
.ent{
    margin-left: 380px;
    border-radius: 500px;
    width: 200px;
    width: 70px;
}